<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="padding-top:15px;">
      <a href="/photos/new" class="btn btn-default btn-block">
        <i class="fa fa-plus"/></i>
      </a>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <tr>
          <th>Caption</th>
          <th>Image</th>
          <th>User</th>
          <th>Actions</th>
        </tr>

        <% @photos.each do |photo| %>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a href="/users/<%=photo.user_id%>"><%=photo.user.username%></a>
                  <small><%=time_ago_in_words(photo.created_at)%> ago  </small>
                </h3>
              </div>
              <div class="panel-body">
                <a href="/photos/<%=photo.id%>">
                  <img src="<%=photo.image%>" class="img-responsive"/>
                </a>
                <p/>
                <form action="/create_like/<%=current_user.id.to_i%>/<%=photo.id%>" method="post">
                  <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>"/>
                  <input type="hidden" name="photo_id" value="<%=photo.id%>"/>
                  <input type="hidden" name="user_id" value="<%=photo.user_id%>"/>
                  <button class="btn btn-link">
                    <% if photo.likes.count == 0%>
                    <i class="fa fa-heart-o"/></i>
                  </button>
                  <small class="text-muted">be the first to like this</small>
                  <% else %>
                  <i class="fa fa-heart"/></i>
                </button>
                <% if photo.likes.count == 1%>
                <small class="text-muted"><%= photo.fans.pluck(:username).to_sentence %> likes this</small>
                <% else %>
                <small class="text-muted"><%= photo.fans.pluck(:username).to_sentence %> like this</small>
                <%end%>
                <%end%>
              </form>
              <p/>
              <ul class="media-list">
                <li class="media">
                  <div class="media-body">
                    <h6 class="media-heading">
                      <a href="/users/<%=photo.id%>"><%=photo.user.username%></a>
                      <small><%=time_ago_in_words(photo.created_at)%> ago</small>
                    </h6>
                    <%=photo.caption%>
                  </div>
                </li>
                <li class="media">

                  <% @comments.each do |comment| %>
                  <% if comment.photo_id == photo.id %>
                  <li class="media">
                    <div class="media-body">
                      <h6 class="media-heading">
                        <a href="/users/<%= photo.user_id %>"><%= comment.user.username %></a>
                      </h6>
                      <%= comment.body %>

                    </div>
                  </li>
                  <%end%>

                  <% end %>
                  <div class="media-body">
                    <form action="/create_comment" method="post">
                      <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>"/>
                      <input type="hidden" name="photo_id" value="<%=photo.id%>"/>
                      <input type="hidden" name="user_id" value="<%=current_user.id.to_i%>"/>
                      <div class="form-group">
                        <label for="body" class="sr-only">Body</label>
                        <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required=""/>
                      </div>
                    </form>
                  </div>
                  <% if current_user.id == photo.user_id%>
                  <div class="btn-group btn-group-justified">
                    <a href="/photos" class="btn btn-primary">
                      Back
                    </a>
                    <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
                      Edit
                    </a>
                    <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
                      Delete
                    </a>
                  </div>
                  <%end%>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end%>





    </table>
  </div>
</div>
</div>
